@addTagHelper snack_spot.TagHelpers.*, snack_spot.TagHelpers

<div class="container">
    <img src="~/images/faleConosco.jpg" alt="Fale conosco" />
    <div class="jumbotron">
        <h3>Queremos ouvir o que você tem a dizer</h3>
        <p>
            Se você tiver alguma dúvida ou sugestão fale conosco
        </p>
        <p>
            <span class="material-symbols-outlined">
                mail
            </span>
        <h5>
            <a class="text-primary" href="mailto:teste@yteste.com">Enviar um e-mail</a>
        </h5>
        <br/>
        <span class="material-symbols-outlined">
            phone_iphone
        </span>
        <h5>(11) 9 0000-0000</h5>
        <br/>
        <span class="material-symbols-outlined">
            home
        </span>
        <h5>Av. Juscelino Kubichek 1000 - 03540-550 - São Paulo</h5>
        </p>
    </div>
</div>